* {
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

html {
  background: #20262e;
}

.p-sidebar {
  background: #2a323d;
}

.p-skeleton {
  background: rgba(255, 255, 255, 0.06);
}
